@model TitleListViewModel


<body>
    <div class="row ms-2 me-2">

        <div class="col-2">
            <div class="sticky-top">
                @await Html.PartialAsync("_HomeTitle",Model)

            </div>


        </div>

        <div class="col-md-8">
            <div>
                @await Html.PartialAsync("_ApiMain",Model)
            </div>
        </div>
        <div class="col-2">
            <div class="sticky-top">
                @await Html.PartialAsync("_HomeRight",Model)

            </div>
        </div>



    </div>

</body>


<script type="module" src="~/js/api.js" asp-append-version="true"></script>